{% extends "registration/registration_base.html" %}
{% load socialregistration_tags %}

{% block title %} Complete account setup{% endblock %}
{% load uni_form_tags %}

{% block body %}
<div class="login_header">
    Complete account setup
</div>
<div class="form">
    {% if error %}
	<p>Your session timed out. Please try again.</p>
    {% else %}
	<form action="." method="post" class="uniForm">

	    {{ form|as_uni_form }}

	    {% social_csrf_token %}
	    <div class="button_wrapper">
		<input type="submit" value="save" class="button" />
	    </div>
	</form>
    {% endif %}
</div>
{% endblock %}

